<section class="cabecalho">
  <h2>Minha organização <span class="linha-colorida"></span></h2>
  <button routerLink="/formulario">
    <img src="assets/imagens/plus.png" alt="">
  </button>
</section>
@for (genero of generos; track genero) {
  <section [ngClass]="genero.toLowerCase()">
    <h2>{{ genero }}</h2>
    @for (livro of livrosPorGenero[genero]; track livro) {
    <div class="livros-genero">
        <app-livro
          [titulo]="livro.titulo"
          [autoria]="livro.autoria"
          [imagem]="livro.imagem"
          [classificacao]="livro.classificacao"
          [genero]="livro.genero"
          [dataLeitura]="livro.dataLeitura">
        </app-livro>
      </div>
    }
  </section>
}







