<section class="cabecalho">
  <h2>Minha organização <span class="linha-colorida"></span></h2>
  <button routerLink="/formulario">
    <img src="assets/imagens/plus.png" alt="">
  </button>
</section>
<section class="generos">
  @for (livro of livros; track livro.titulo) {
    <app-livro
      [titulo]="livro.titulo"
      [autoria]="livro.autoria"
      [imagem]="livro.imagem"
      [classificacao]="livro.classificacao"
      [genero]="livro.genero"
      [dataLeitura]="livro.dataLeitura">
    </app-livro>
  }
</section>




