h2 {
  font-family: 'Prata';
  font-size: 40px;
  font-weight: 400;
  line-height: 72px;
  text-align: center;
  color: #6278F7;
}

.generos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabecalho button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.botao-toggle {
  display: flex;
}

.cabecalho .linha-colorida {
  width: 64px;
  border-bottom: 4px solid #6278F7;
  display: block;
  margin: 0 auto;
}
