h2 {
  font-family: 'Prata';
  font-size: 40px;
  font-weight: 400;
  line-height: 72px;
  text-align: center;
  color: #6278F7;
}

.lista-livros {
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 20px;
}

.lista-livros button {
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #6278F7;
  cursor: pointer;
}

.lista-livros i {
  color: #FFFFFF;
}

.generos {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 20px;
}

