<section class="formulario">
  <form [formGroup]="formulario" (ngSubmit)="adicionarLivro()">
    <h3>Preencha os dados para criar o card do livro</h3>
    <div class="formulario__input">
        <label for="titulo">Título</label>
          <input
            type="text"
            placeholder="Digite o título do livro"
            id="titulo"
            formControlName="titulo">

          <label for="autoria">Autoria</label>
          <input
            type="text"
            placeholder="Digite a autoria"
            id="autoria"
            formControlName="autoria">

          <label for="genero">Gênero</label>
          <select id="genero" formControlName="genero">
            <option value="" disabled>Selecione o genêro do livro</option>
            <option value="Ficção">Ficção</option>
            <option value="Não Ficção">Não Ficção</option>
            <option value="Romance">Romance</option>
            <option value="Mistério">Mistério</option>
          </select>

          <label for="dataLeitura">Data da leitura</label>
          <input
            type="date"
            id="dataLeitura"
            formControlName="dataLeitura">

          <label for="imagem">Imagem</label>
          <input
            type="text"
            placeholder="Informe o endereço da imagem"
            id="imagem"
            formControlName="imagem">

            <section class="classificacao">
              <label for="classificacao">Classificação</label>
              <div class="estrelas">
                @for (i of estrelas; track i) {
                  <button
                    type="button"
                    (click)="setClassificacao(i)"
                    [class]="formulario.get('classificacao')?.value >= i ? 'filled' : ''"
                  >
                    &#9733;
                  </button>
                }
              </div>
          </section>
      </div>
      <button class="btn-submit" type="submit">Criar card</button>
  </form>
</section>

